/*
#
#  Copyright Science and Technology Facilities Council, 2009.
#
#  This file is part of ARTEMIS.
#
#  ARTEMIS is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  ARTEMIS is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with ARTEMIS. If not, see <http://www.gnu.org/licenses/>.
#
#  $Revision: 6976 $
#  $Date: 2010-08-19 10:10:34 +0100 (Thu, 19 Aug 2010) $
#  $LastChangedBy: tkk76468@FED.CCLRC.AC.UK $
#
*/
html {
  font-family: verdana, sans;
  font-size: 10pt;
  background-color: #F7F7F7;
}
body {
  font-size: 10pt;
}
div#divRoom {
  border: 4px solid #000;
  padding: 0;
  background-image: url("images/tiles.png");
  background-repeat: repeat;
  position: relative;
}
div.probe-temperature, div.probe-airflow, div.probe-current, div.probe-humidity {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  text-align: center;
  color: #fff;
  opacity: 0.75;
  border-radius: 3px;
}
div.probe-current {
  color: #000;
}
div.probe-temperature:hover, div.probe-airflow:hover, div.probe-current:hover, div.probe-humidity:hover {
  cursor: pointer;
  z-index: 1;
  opacity: 0.9;
  border: 1px solid black;
  /*margin: -1px;*/
}
#minfo {
  font-family: monospace;
  font-size: 8pt;
  position: fixed;
  display: none;
  border: 1px solid rgba( 46,  52,  54, 0.5);;
  background-color: rgba(252, 233,  79, 0.5);
  padding: 4px;
  z-index: 1001;
}
#imgGraph {
  left: 0;
  top: 0;
  z-index: 1000;
}
